h2{
    padding: 1%;
    font-size: 2.5rem;
}
p{
    padding: 1%;
    font-size: 1.8rem;
    
}
#primer-parrafo{
    float: left;
    width: 70%;
}
p a{
    text-decoration: none;
    color: black;
}
#imagen{
    width: 27%;
}