.tablero {
    width: 50%;
    padding: 2%;
    margin: 0%;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    /* grid-auto-rows: auto; */
    /* grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto); */
}
.position{
    aspect-ratio: 1;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    background-image: url('oceantile.png');
    background-size: contain;
}

.position.barco-top{
    background-image: url('barco-front.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.position.barco-mid{
    background-image: url('barco-mid.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.position.barco-bottom{
    background-image: url('barco-bottom.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.rotar-arriba{
    transform: rotate(90deg);
}


.rotar-derecha{
    transform: rotateY(180deg);
}


.guia{
    background-color: lightblue;
    background-image: url('sandtile1.png');
    background-size: contain;
}
main{
    display:flex;
    /* align-items: center; */
    justify-content: center;
}
aside {
    width: 50%;
    height: 100%;
    padding: 2%;
    /* margin-top: 2%;
    margin-right: 1%;
    margin-left: 1%; */
    border: 2px, solid, blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div#datos-del-turno{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div#datos-del-turno h2{
    display: block;
    width: 95%;
    border: 1px;
    border-radius: 5px;
    margin: 0.5%;
    background-color: rgb(0, 94, 255);
}

ul#inventario-powerups{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    
}

ul#inventario-powerups li{
    width: 95%;
    text-align: center;
    border: 1px;
    border-radius: 5px;
    margin-top: 0.3%;
    margin-bottom: 0.3%;
    text-decoration: none;
    list-style-type: none;
    font-size: 1.5rem;
    background-color: aliceblue;
}
ul#inventario-powerups li:hover{
    background-color: lightblue;
}

.descripcion-powerup{
    display: none;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: none;
}

ul.descripcion-powerup{
    display: none;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: none;
}

ul.descripcion-powerup li{
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: none;
}

li:hover .descripcion-powerup{
    width: 100%;
    display: block;
    padding: 0px;
    margin: 0px;
    border: none;
}

ul#inventario-powerups li ul.descripcion-powerup li{
    font-size: 1rem;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: none;
}

aside h2 {
    margin: 1%;
}

